.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.map, .chart {
    width: 100%;
    height: 100%;
}
@media (orientation: landscape) {
    .box {
        flex-direction: row;
    }
    .map {
        width: 65%;
    }
    .chart {
        width: 35%;
    }
}