name: webapp CI

on: 
  push:
    branches: 
      - dev
  pull_request:
    branches: 
      - dev

jobs:
  build-and-deploy:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install, build and test
        run: |
          npm install
          npm run build --if-present
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          BRANCH: gh-pages
          FOLDER: dist  
  
